# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore environment variable files
.env

# Ignore data files (e.g., CSVs, logs, etc.)
*.csv
*.log

# Ignore IDE-specific files (e.g., VSCode, PyCharm)
.vscode/
.idea/

# Ignore virtual environments
venv/
.env/
main3.py
main (1).py
selenium_parent.py
selenium_test.py
selenium_test2.py


